<div class="grid-container1">
  <% @activities.each do |activity| %>
    <div class="grid-item">
      <div class="card-activity">
        <%= image_tag  activity.photo%>
        <div class="card-activity-infos">
          <div class="card-activity-description">
            <h2><%= link_to activity.title, activity_path(activity) %></h2>
            <p><%= activity.details %></p>
          </div>
          <h2 class="card-activity-pricing"><%= activity.address%><br> Rs:<%= activity.price %></h2>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%= cl_image_tag("https://res.cloudinary.com/dr14y9ctv/image/upload/v1653964268/m0o8p8n3wd8tbfxwbyca.jpg",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("https://res.cloudinary.com/dr14y9ctv/image/upload/v1653964275/vl04hz6z7l60hpizwgav.jpg",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
