
  <div class="card_preview">
    <p class="info"><%= @activity.title %></p>
    <p><%= @activity.details %></p>
    <p class="info">Rs. <%= @activity.price %></p>
    <p class="info"><%= @activity.address %></p>
    <div class="photos_container">
      <div class="photos_container1">
        <%= cl_image_tag @activity.photos[0].key%>
      </div>
      <div class="photos_container2">
        <% @activity.photos.drop(1).each do |photo| %>
            <%= cl_image_tag photo.key,class:"sidephotos col", style:"width:120px, height:250px" %>
          <% end %>
      </div>
    </div>
    <br>

    <% if current_user %>
      <% link_to 'Leave a review', new_activity_review_path(@activity) %>
      <% if @activity.user.id == current_user.id %>
          <%= link_to("Edit", edit_activity_path(@activity)) %>
          <%= link_to "Delete", activity_path(@activity), method: :delete, data: { confirm: "Are you sure?"} %>      <% end %>
    <% end %>
    <br>
    <br>

    <div class="btn-flat btn-small">
      <%= link_to("Book activity", new_activity_reservation_path(@activity)) %>
    </div>
    <br>

    <h1><strong>Reviews</strong></h1>
          <ul class="list-group">
          <% @activity.reviews.each do |review| %>
            <li class="list-group-item"><%= review.comment %></li>
            <li class="list-group-item"><%= 'â­' * review.rating %></li>
            <br>
          <% end %>
        </ul>
        <p>Please leave a comment:</p>
        <%= simple_form_for [ @activity, @review ] do |f| %>
          <%= f.input :comment %>
          <%= f.input :rating, collection: 0..5 %>
          <br>
          <%= f.submit "Submit review", class: "btn btn-primary" %>
        <% end %>
        <br>
        <%= link_to("Back to activities", activities_path) %>



    </div>

    <div style="width: 100%; height: 500px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @marker.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
